/* Set responsive for screen 1920px) */
@media (max-width:1920px){
  /* header */
  .header-hidden{
    display: none;
}
  /* end header */

}
/* Set responsive for screen 1440px) */
@media (max-width:1440px){

}
/* Set responsive for screen 1280px) */
@media (max-width:1280px){
  /* home */
	#category .MS-content .item {
    width: 50%;
  }
  /* end home */
}
/* Set responsive for screen 1024px and 960px) */
@media (max-width:1024px) {
  /* header */
  .flex-col-search {
    width: 39%;
    float: left;
    }

    .flex-col-right>ul>li {
        float: left;
        padding-left: 8px;
    }
    .flex-col-logo {
        width: 23%;
        float: left;
    }
    .flex-col-cart {
        width: 38%;
        float: right;
    }
    .flex-col-search {
        width: 36%;
    }
    .flex-grow>input[type=text] {
        width: 65%;
    }
  /* end header */
  /* home */
 .MS-content .item {
    width: 50%;
    }
 .MS-controls button {
    font-size: 30px;
  }
  /* end home */
  /* shopping cart */
  .update-shopping-cart{
    margin-left: 7px;
    margin-top: 15px;
  }
  /* end shopping cart */
  /* footer */
  .footer-column-1{
    float: left;
    width: 50%;
  }
  .footer-column-2{
      width: 49%;
  }
  .footer-column-3{
      float: left;
      width: 50%;
  }
  .footer-column-4{
      width: 49%;
  }
  /* end footer */
}
@media (max-width:960px){
  /* header */
  .flex-col-logo {
    margin-right: 13px;
}
  /* end header */
}
/* Set responsive for screen 840px) */
@media (max-width:840px){
  /* header */
  .nav-hidden {
    width: 34%;
}
.checkbtn-cart{
    display: block;
  }
  .nav-cart>ul{
    position: fixed;
    width: 30%;
    height: 100vh;
    background-color: #F7F3F3;
    top: 100px;
    right: -100%;
    text-align: right;
    transition: all .5s;
    float: right;
  }
  .nav-cart>ul>li{
    display: block;
    list-style: none;
    border-bottom: 1px solid #ECECEC;
  }
  .nav-cart>ul>li>a{
    text-decoration: none;
    color: black;
    padding: 15px;
    padding-top: 15px;
    line-height: 50px;
  }
  .nav-cart>ul>li>p{
    padding-top: 15px;
    color: black;
    text-align: center;
  }
  .nav-cart>ul>li:last-child{
    border-bottom: none;
  }
  #check-cart:checked ~ ul{
    right: 0;
  }

.header-hidden{
    display: block;
}
/* header hidden */
.checkbtn{
    display: block;
  }
  .nav-hidden>ul{
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #F7F3F3;
    top: 100px;
    left: -100%;
    z-index: 1;
    text-align: left;
    transition: all .5s;
  }
  .nav-hidden>ul>li{
    display: block;
    line-height: 60px;
    list-style: none;
    border-bottom: 1px solid #ECECEC;
  }
  .nav-hidden>ul>li:last-child{
    border-bottom: none;
  }
  .nav-hidden>ul>li>a{
    text-decoration: none;
    color: #8A8A8A;
    padding-left: 10px;
    padding-top: 15px;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .header-top, .header-main, .header-bar{
        display: none;
    }
    .flex-col-right>ul>li {
        float: left;
        padding-left: 8px;
    }
    .flex-col-search {
        width: 30%;
        float: left;
    }
    .flex-grow>input[type=text] {
        width: 80%;
    }
    .flex-col-logo {
        margin-right: 30px;
    }
    .flex-col-cart {
        width: 40%;
    }
  /* end header */
  /* home */
  .section-title-main {
    font-size: 15px;
    font-weight: 700px;
	}
	#category {
    position: relative;
    padding: 0;
	}
	#newproduct .MS-content .item {
    width: 50%;
  }
  .product{
    width: 50%;
  }
  #hero, .section-news{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;  
    grid-gap: 8px; /* padding for gutter grid */
    position: relative;
    height: 600px;
  }
  .first-hero, .first-news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  } 
  .second-hero, .second-news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .third-hero, .third-news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .fourth-hero, .fourth-news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 13;
  }
  /* end home */
  /* shopping cart */
  .cart-from-left, .cart-from-right{
    width: 100%;
    border: none;
  }
  /* end shopping cart */
}
/* Set responsive for screen 600px) */
@media (max-width:600px){
  /* header */
  .nav-hidden>ul{
    width: 50%;
  }
  /* end header */
  /* home */
	.MS-controls .MS-left {
    left: 0;
  }
  #category .MS-controls .MS-right {
    right: 0;
  }
  .current,.no-click,.icon-angle{
      display: none;
  }
  .content-left,
  .content-center,
  .content-right{
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  }
  /* end home */
  /* shopping cart */
  .cart-product-price, .cart-product-subtotal{
    display: none;
    }
    .cart-sub-product-price, .cart-sub-product-subtotal{
        display: none;
    }
    .cart-product-quantity{
        text-align: right;
    }
    .cart-stage-title{
      font-size: 20px;
    }
  /* end shopping cart */
  /* footer */
  .footer-column-1, .footer-column-2, .footer-column-3, .footer-column-4{
    width: 100%;
    padding-left: 5px;
  /* end footer */
  }
}
/* Set responsive for screen 480px) */
@media (max-width:480px){
  /* header */
  .nav-hidden {
    width: 25%;
    }
    .nav-hidden>ul{
    width: 50%;
  }
  /* end header */
  /* home */
  #hero, #news{
  grid-template-columns: auto; 
  grid-gap: 8px; /* padding for gutter grid */
  height: 600px;
  position: relative;
  }
  /* end home */
  /* CSS for shopping-cart title */
  .fa-cart, #payment, #success{
    display: none;
  }
  .cart-stage-title{
    font-size: 15px;
  }
  /* end shopping cart */
  /* footer */
   .footer-column-1, .footer-column-2, .footer-column-3, .footer-column-4{
    width: 100%;
   }
  /* end footer */
}
/* Set responsive for screen 360px) */
@media (max-width:360px){
  /* header */
  .nav-hidden>ul{
    width: 50%;
    }
    .nav-hidden>ul>li>a{
        font-size: .7em;
    }
    .nav-cart {
        margin-right: 5px;
        width: 33,3333%;
        float: right;
    }
    .header-top-hidden>ul>li {
        list-style: none;
        float: left;
        padding-left: 9px;
    }
    .hidden-logo>img {
        width: 191px;
    }
  /* end header */
}