/* ----------Format--------- */
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
.section {
    clear: both;
}
/* ----------Header--------- */
/* header hidden */
.header-hidden{
    height: 181px;
    width: 100%;
  }
  .header-top-hidden{
    height: 35px;
    background-color: #00a859;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-top-hidden>ul{
    display: flex;
    justify-content: center;
  }
  .header-top-hidden>ul>li{
    list-style: none;
    float: left;
    padding-left: 15px;
  }
  .header-top-hidden>ul>li>a{
    text-decoration: none;
    line-height: 2.5em;
    color: whitesmoke;
  }
  .nav-hidden{
      width: 33,3333%;
      float: left;
  }
  .hidden-logo{
    width: 33,3333%;
    float: left;
}
.nav-cart{
    margin-right: 20px;
    width: 33,3333%;
    float: right;
}
  .dropdown-hidden>ul>li{
    list-style: none;
  }
  .dropdown-hidden>ul>li>a{
    text-decoration: none;
  }
  .dropdown-content-hidden {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 260px;
    z-index: 1;
    opacity: 1;
    max-height: inherit;
    padding: 10px 0 10px;
  }
  .dropdown-hidden:hover .dropdown-content-hidden{
    display: block;
  }
  .header-main-hidden{
    overflow: hidden;
    position: relative;
  }
  .nav-hidden>ul{
    float: left;
  }
  .nav-hidden>ul>li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  .nav-cart>ul{
      float: right;
  }
  .nav-cart>ul>li{
    display: none;
    margin: 0 5px;
    text-align: center;
  }
  .checkbtn-cart{
    font-size: 20px;
    color: #00a859;
    float: left;
    line-height: 100px;
    margin-left: 20px;
    cursor: pointer;
    display: block;
  }
    #fa-bars{
        color: #00A859;
    }
  #check-cart{
    display: none;
  }
  .checkbtn{
    font-size: 20px;
    color: white;
    float: left;
    line-height: 100px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .header-bottom-hidden{
      height: 45px;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  }
  /* .header-bottom-hidden */
  .header-bottom-hidden>ul {
    list-style: none;
    line-height: 3em;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

  /* end header hidden */
header{
    width: 100%;
    box-shadow: rgb(255, 255, 255);
}

.flex-row{
    padding-left: 1%;
    padding-right: 1%;
}

.header-top{
    height: 35px;
    background-color: #00A859;
    width: 100%;
}
.flex-col-left{
    float: left;
}
.flex-col-left>p{
    font-size: 14px;
    color: white;
    line-height: 2.5em;
}
.flex-col-right{
    float: right;
}
.dropdown-news {
  position: relative;
  display: inline-block;
}

.dropdown-news-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    max-height: inherit;
    padding: 10px 0 10px;
}

.dropdown-news-content a {
    color: rgb(82, 76, 76);
    text-decoration: none;
    display: block;
}
.dropdown-news:hover .dropdown-news-content {
    display: block;
}

.flex-col-right>ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-col-right>ul>li{
    float: left;
    padding-left: 15px;
}
.flex-col-right>ul>li>a{
    text-decoration: none;
    line-height: 2.5em;
    font-size: 1em;
    color: rgba(255,255,255,.8);
}
.flex-col-right>ul>li>a:hover{
    text-decoration: none;
    line-height: 2.5em;
    font-size: 1em;
    color: white;
}
#fa-angle-down{
    color: black;
}
.fa-angle-down{
    color: rgba(255,255,255,.8);
    opacity: .6;
}
#fa-envelope{
    color: rgba(255,255,255,.8);
}
#fa-envelope:hover{
    color: white;
}
#fa-angle-down{
    color: #8A8A8A;
    font-size: 20px;
}
#fa-youtube-play, #fa-pinterest, #fa-phone, #fa-twitter, #fa-instagram, #fa-facebook, #fa-envelopes{
    color: #8A8A8A;
}

.fa-youtube-play, .fa-pinterest, .fa-phone, .fa-envelope, .fa-twitter, .fa-instagram, .fa-facebook{
    color: white;
}
.fa-youtube-play:hover, .fa-pinterest:hover, .fa-phone:hover, .fa-envelope:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-facebook:hover{
    color: rgba(255,255,255,.8);
}
.fa-heart, .fa-shopping-basket{
    color: #00A859;
}
.fa-heart:hover, .fa-shopping-basket:hover{
    color: red
}
#fa-shopping-basket{
    color: #00A859;
}
#fa-search{
    color: black;
}
.dropdown-news>ul{
    list-style: none;
}
.dropdown-news-content>li{
    padding-left: 40px;
    padding-right: 20px;
    border-bottom: 1px solid #ececec;
}
.dropdown-news-content>li:last-child{
    border-bottom: none;
}
/* header main */
.header-main{
    overflow: hidden;
    width: 100%;
}   
.flex-col-logo{
    width: 25%;
    float: left;
}
.flex-col-logo>a>img, .hidden-logo>img{
    width: 208px;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}
.hidden-logo>img{
    width: 208px;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
    justify-content: center;
}
.flex-col-search{
    width: 39%;
    float: left;
    margin-left: 10px;
}
#fa-searchs{
    margin-left: -12%;
}
.nav-hidden>ul>li>input[type=text]{
    width: 70%;
    height: 33px;
    background-color: rgba(0,0,0,.03);
    border-radius: 99px;
    border-color: rgba(0,0,0,.09);
    float: left;
    margin-top: 15px;
}
.nav-hidden>ul>li>select{
    background-color: rgba(0,0,0,.03);
    border-radius: 99px;
    border-color: rgba(0,0,0,.09);
    height: 33px;
    float: left;
    margin-top: 15px;
}
.flex-grow>select{
    background-color: rgba(0,0,0,.03);
    border-radius: 99px;
    border-color: rgba(0,0,0,.09);
    height: 33px;
    float: left;
    margin-right: 5px;
    margin-bottom: 27.5px;
    margin-top: 27.5px;
}
.flex-grow>input[type=text]{
    width: 88%;
    height: 33px;
    background-color: rgba(0,0,0,.03);
    border-radius: 99px;
    border-color: rgba(0,0,0,.09);
    float: left;
    margin-bottom: 27.5px;
    margin-top: 27.5px;
}
.flex-grow>a{
    height: 33px;
    float: left;
    margin-bottom: 27.5px;
    margin-top: 30px;
    margin-left: -1.6em;
}
.flex-col-cart{
    width: 34%;
    float: left;
}

.flex-col-cart>ul{
    list-style: none;
    margin-bottom: 50.5px;
    margin-top: 20px;
    float: right;
}
.flex-col-cart>ul>li{
    float: left;
    padding: 10px;
}
.flex-col-cart>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    padding: 5px;
}
.flex-col-cart>ul>li>a:hover {
    color: white;
    background-color: #00A859;
    border-radius: 99px;
}
/* header bar */
.header-bar{
    height: 52px;
    /* overflow: hidden; */
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    
}
.flex-col-left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-col-left>ul>li{
    float: left;
    padding-right: 15px;
    line-height: 3em;
}
.flex-col-left>ul>li>a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.flex-col-left>ul>li>a:hover{
    color: #00A859;
}
.flex-col-left>ul>li>a:hover::after{
    width: 100%;
    transition: width;
    color: #00A859;
}
.header-bar>.flex-row>.flex-col-right>ul>li>a{
    line-height: 3em;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.header-bar>.flex-row>.flex-col-right>ul>li>a:hover{
    color: #00A859;
}
.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #00A859;
}
.header-bar>.flex-row>.flex-col-right>ul>li>a:hover::after{
    width: 100%;
    transition: width;
    color: #00A859;
}
/* Dropdown phase of GIÀY THỂ THAO tab */
.dropdown-shoes{
    position: relative;
}
.dropdown-content-shoes{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    max-height: inherit;
    padding: 10px 0 10px;
    margin-left: -226.333px;
}

.dropdown-shoes:hover .dropdown-content-shoes {
    display: block;
}
.dropdown-shoes>ul{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-shoes>ul>li{
    float: left;
    padding: 15px;
}
.dropdown-shoes>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;

}
.dropdown-content-child{
    list-style: none;
}
.dropdown-content-child>li{
    border-bottom: 1px solid #ececec;

}
.dropdown-content-child>li:last-child{
    border-bottom: none;
}
.dropdown-content-child>li>a{
    text-decoration: none;
    color: rgba(102,102,102,.85);
}
/* Dropdown phase of ÁO CÂU LẠC BỘ tab */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 1000px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    max-height: inherit;
    padding: 10px 0 10px;
    margin-left: -7%;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown>ul{
    list-style: none;
}
.dropdown>ul>li{
    float: left;
    padding: 10px;
}
.dropdown>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;

}
.dropdown-child>ul{
    list-style: none;
}
.dropdown-child>ul>li{
    border-bottom: 1px solid #ececec;
}
.dropdown-child>ul>li:last-child{
    border-bottom: none;
}
.dropdown-child>ul>li>a{
    text-decoration: none;
    color: rgba(102,102,102,.85);
}
/* ----------End header----- */

/* ----------Footer--------- */
/* ----------Home--------- */
/* ---Grid--- */
.pagecontent.home{
    width: 100%;
    padding: 15px;
}
#hero, .section-news{
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 8px; /* padding for gutter grid */
    position: relative;
    height: 600px;
}
.grid-item, .grid-item-news{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.first-hero, .first-news{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
} 
.second-hero, .second-news{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.third-hero, .third-news{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.fourth-hero, .fourth-news{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
/* Hero */
.first-hero{
    background:center / cover no-repeat url('../Images/Home/hero/hero1.jpg');
}
.second-hero{
    background:center / cover no-repeat url('../Images/Home/hero/hero2.jpg');
}
.third-hero{
    background:center / cover no-repeat url('../Images/Home/hero/hero3.jpg');
}
.fourth-hero{
    background:center / cover no-repeat url('../Images/Home/hero/hero4.jpg');
}
/* News */
#news{
    grid-gap: 30px;
    margin-top: 50px;
}
.grid-item-news{
    bottom: 0;
    position: relative;
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.box-content {
    background-color: rgba(255,255,255,.95);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.text-center{
    text-align: center;
}
.text-center.is-divider{
    margin: 0 auto 0;
}
.inner-first{
    position: absolute;
    margin: auto;
}
.box-content>h5,.box-text>h5,.box-text a:not(.button){
    line-height: 1.3;
    margin-top: .1em;
    margin-bottom: .1em;
    height: 2.8em;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    color: #000000;
    text-align: center;
}
.is-divider{
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 0.5em auto 0.5em;
    width: 100%;
    height: 2px;
    max-width: 30px;
}
.button-news{
    color: red;
    border: 2px solid #ed3237;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 15px;
}
.first-news{
    background: center / cover no-repeat url('../Images/Home/tintuc/tintuc1.jpg');
}
.second-news{
    background: center / cover no-repeat url('../Images/Home/tintuc/tintuc2.jpg');
}
.third-news{
    background: center / cover no-repeat url('../Images/Home/tintuc/tintuc3.jpg');
}
.fourth-news{
    background: center / cover no-repeat url('../Images/Home/tintuc/tintuc4.jpg');
}
/* ------Slider-------- */
/*Category*/
#category, #newproduct{
    width: 100%;
    position: relative;
    padding-top: 30px;
    background-color: #f6f6f6;
}
.MS-content-category .item {
    width: 20%;
    height: 100%;
    padding: 0 5px;
}
.MS-content-newproduct .item {
  width: 25%;
  height: 100%;
  padding: 0 5px;
}
.MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 50%;
  color: #fff;
  transition: 0.15s linear;
}
.MS-controls button:hover {
  color: #ed3237;
}
.MS-controls .MS-left {
  left: 0px;
}
 .MS-controls .MS-right {
  right: 0px;
}
.category-content-card{
    position: absolute;
}
.product-category{
    position: relative;
}
.box{
    position: relative;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}
.box-image{
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.box-text{
    position: relative;
}
.box-text p{
    margin-top: .1em;
    margin-bottom: .1em;
}
.section-title {
    margin: 0.4em 0 1em;
    position: relative;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
}
.section-title b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-main{
    font-size: 25px;
    font-weight: 700px;
}
.section-title-center span {
    margin: 0 15px;
}
.image-cover img{
    width: 100%;
    height: 100%;
}
.price-quantity{
    font-size: 12px;
    text-transform: uppercase;
}
/* -----Card----- */
.category-content-card {
    position: absolute;
}
.section-title i {
    opacity: .6;
    margin-right: .5em;
}
.product{
    padding: 0 4px;
    width: 25%;
    float: left;
    position: relative;
}
.product-content{
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.promotion{
    position: absolute;
    z-index: 21;
    left: 0;
    top: 0;
    margin: 30px 0 0;
}
.badge{
    width: 4.8em;
    height: 4.8em;
    display: table-cell;
    vertical-align: middle;
    z-index: 20;
    pointer-events: none;
    height: 2.8em;
    width: 2.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #00a859;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}
.onsale{
    color: white;
    font-weight: bolder;
}
.product-title, .sku{
    text-transform: uppercase;
    color: #000000;
}
.price-current{
    opacity: .6;
    font-weight: 400;
    margin-right: .3em;
}
.price-promotion{
    font-weight: 700;
}
/* Hover */
.image-hover{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}
.image-hover-item{
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-cover{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.product-title:hover{
    color: #ed3237;
}
.box-image:hover .image-cover {
    opacity: 0.3;
}
.box-image:hover .image-hover {
    opacity: 1;
}
.home-last-slide{
    width: 100%;
    box-sizing: border-box;
}
.item-slides{
    width: 33.33%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.items-star{
    display: inline-flex;
    text-align: center;
}
.items-star>img{
    width: 20px;
}
.customer-comment>p{
    text-align: center;
    font-style: italic;
    padding-bottom: 15px;
}
.customer-name{
    text-align: center;
}
.customer-comment>p>img{
    width: 20px;
}
.customer-comment>p{
    display: inline-flex;
}
.fa-star:before {
    color: #eaea14;
}
/* Rating */
#rating .section-title-center span, #active .section-title-center span{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0;
}
#rating {
    width: 100%;
    position: relative;
    padding-top: 30px;
}
/* Active */
.method-operation{
    width: 100%;
    float: left;
    clear: both;
}
#active{
    margin-bottom: 30px;
}
.content-left,
.content-center,
.content-right{
    width: 33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.content-left>p,
.content-center>p,
.content-right>p{
    font-size: 1em;
}
h5.uppercase{
    font-size: 15px;
}
/* method-operation */
.method-operation{
    width: 100%;
    float: left;
    clear: both;
}
.content-left,
.content-center,
.content-right{
    width: 33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.content-center{
    border-style: solid;
    border-width: 0px 1px;
    border-color: #ddd;
}
.content-left>p,
.content-center>p,
.content-right>p{
font-size: 1em;
}
h5.uppercase{
    font-size: 15px;
}
/* ----------CART--------- */
.shopping-cart-header{
    width: 100%;
    height: 188px;
  }
  /* CSS for shopping cart Title */
  .shopping-cart-view{
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
  }
  .cart-stage-title {
    width: 100%;
    /* background-color: brown; */
    text-align: center;
    font-size: 26px;
    font-weight: 100;
  }
  .cart-stage-title #payment, #success, .fa-cart{
    color:rgb(161, 157, 157);
  }
  #payment, #cart{
    cursor: pointer;
  }
  #payment:hover{
    color: black;
  }
  /* end CSS for title */
  .shop-table{
    padding: 15px 30px;
    overflow: hidden;
  }
  .cart-from-left{
    width: 57%;
    padding: 8px 15px;
    overflow: hidden;
    float: left;
  }
  .cart-from-right{
    width: 42%;
    padding: 8px 15px;
    border-left: solid 2px #ececec;
    float: right;
    overflow: hidden;
  }
  table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .cart-from-left .cart-text td{
    padding: 15px 0px;
  }
  td, th, a {
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 0px 8px;
  }
  th, td {
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    line-height: 1.3;
    font-size: .9em;
  }
  .border-title{
    border-bottom: solid 2px #ececec;
  }
  
  .cart-product-subtotal{
      text-align: right;
  }
  .cart-product-description a:hover{
      color: red;
  }
  a.remove{
    display: block;
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    line-height: 19px !important;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
  }
  #cart-img{
      height: 15%;
  }
  .quantity{
    width: 100%;
    position: relative;
    padding-left: 8px;
  }
  .quantity input[type="number"] {
    max-width: 2.5em;
    width: 50px;
    text-align: right;
    font-size: 1em;
    float: left;
  }
  
  input.plus-icon, input.minus-icon {
    position: absolute;
    max-width: 2.5em;
    width: 30%;
    text-align: center;
    font-size: 1em;
    float: left;
  }
  .cart-action{
      padding: 15px 15px;
      font-weight: bold;
      border: 0;
  }
  .cart-action > a, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
  }
  button{
      background-color: #00A859;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
  }
  .fa-arrow-left{
      color: #FF0000;
  }
  .continue-view-product {
    color: #FF0000;
    background: none;
    border: solid 2px #FF0000;
  }
  .continue-view-product:hover{
    background-color: #00A859;
  }
  .update-shopping-cart{
      padding: 10px 15px;
      opacity: 70%;
      margin-left: 15px;
  }
  .plus-shopping-cart{
    border-bottom: 2px solid #ececec;
  }
  .product-current, .product-estimate{
      text-align: right;
  }
  .line-total{
      border-bottom: solid 2px #ececec;
  }
  .product-estimate > a:hover{
      color: red;
  }
  .fa-tag{
      color: #ececec;
  }
  .cart-from-right label{
      color: black;
  }
  .shop-table-action th, td{
      padding: 10px 0px;
  }
  .cart-button-checkout{
      width: 100%;
      margin: 30px 0px;
      background-color: #0091ce;
  }
  .cart-label-promotion{
    border-bottom: 3px solid #ececec;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .form-code-promo{
    width: 100%;
    padding: 8px 15px;
    border: solid 1px #ececec;
    font-size: 16px;
  }
  .button-apply{
    width: 100%;
    margin-top: 15px;
    background-color: #ccc;
  }
  
  /*--- end css for shopping cart --- */
  /* CSS FOR CART_FOOTER */
  .cart-footer{
    width: 100%;
    height: 200px;
    background-color: #00A859;
  }
  

/* ---------Checkout--------- */
/* ----------Footer--------- */
.footer{
    overflow: hidden;
    background-color: #00A859;
    width: 100%;
}
.footer-column-1{
    width: 24%;
    margin-left: 1%;
    float: left;
    margin-top: 40px;
}
.footer-column-1>.title, .footer-column-2>.title, .footer-column-3>.title, .footer-column-4>.title{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #f1f1f1;
}
.footer-column-1>.content, .footer-column-2>.content, .footer-column-3>.content, .footer-column-4>.content{
    font-size: 1em;
    padding-left: 10px;
    padding-top: 40px;
    color: #f1f1f1;
}
.footer-column-2>.content>p{
    margin-bottom: 20px;
}
.footer-column-1>.content>p, .footer-column-3>.content>p, .footer-column-4>.content>p{
    border-bottom: 0.1px solid rgb(161, 160, 154);
    /* line-height: 1.7em; */
}
.footer-column-1>.content>p:last-child, .footer-column-3>.content>p:last-child, .footer-column-4>.content>p:last-child{
    border-bottom: none;
}
.footer-column-2{
    width: 24%;
    float: left;
    margin-top: 40px;
}
.footer-column-2>.content>p>i{
    font-size: 4em;
}
.footer-column-2>.content>p>.fa-facebook-square{
    color: darkblue;
}
.footer-column-2>.content>p>.fa-google-plus-square, .fa-pinterest-square,.fa-youtube-square{
    color: rgb(155, 13, 13);
}
.footer-column-2>.content>p>.fa-twitter-square{
    color: deepskyblue;
}
.footer-column-3{
    width: 26%;
    float: left;
    margin-top: 40px;
}
.footer-column-4{
    width: 24%;
    float: left;
    margin-top: 40px;
    margin-right: 1%;
}
/* Footer second */
.payment-icon{
    opacity: .6;
    text-align: center;
    padding-top: 20px;
}
.fa-cc-visa, .fa-cc-paypal, .fa-cc-stripe, .fa-cc-mastercard, .fa-cc-amex{
    font-size: 2em;
    padding: 5px;
}
.footer-menu{
    text-align: center;
    padding: 15px;
}
.footer-menu>a{
    padding: 3px;
    font-size: .9em;
    text-decoration: none;
    color: rgb(185, 185, 155);
}

/* ------------------- modal------------- */
.cart-mySlides {display: none}
img {vertical-align: middle;}

/* The Modal (background) */
.cart-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content-cart {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    overflow: hidden;
    width: 60%;
  }
  .slideshow-container img{
      width: 100%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    top: 0;
    padding: 0px 10px;
    right: 0;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-slide{
      background-color: #E8E3DF;
      width: 50%;
      float: left;
  }
/* Slideshow container */
.modal-slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .cart-prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: ease-in-out;
    border-radius: 0 6px 6px 0;
    user-select: none;
  }
  .cart-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    float: right;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .cart-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .cart-prev:hover, .cart-next:hover {
    color: red;
  }
  /* The cart-dots/bullets/indicators */
  .cart-dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .cart-dots:hover {
  background-color: #717171;
}
.cart-modal-information{
    /* background-color: chocolate; */
    width: 50%;
    padding: 20px;
    float: left;
    font-weight: 700;
}
.cart-modal-information >div a{
    text-decoration: none;
    color: black;
}
.modal-product-name{
    font-size: 26px;
}
.line-horizontal{
    width: 5%;
    border: solid 1px #717171;
    float: left;
}
.modal-product-price{
    font-size: 26px;
    margin-top: 20px;
    font-weight: normal;
}
.modal-product-price > span{
  font-weight: bolder;
}
.modal-size{
  margin-top: 20px;
  font-weight: normal;
}
.modal-action{
  margin-top: 20px;
  overflow: hidden;
}
.modal-size-selected{
  width: 78%;
  padding: 8px 10px;
  margin-left: 20px;
}
.modal-quantity{
  width: 100%;
  position: relative;
}
.modal-quantity .modal-form {
  max-width: 1.5em;
  width: 50px;
  text-align: center;
  margin-left: 24px;
  padding: 10px 0px;
  font-size: 16px;
  float: left;
}

input.modal-plus-icon, input.modal-minus-icon {
  position: absolute;
  max-width: 1.5em;
  width: 30%;
  padding: 10px 0px;
  text-align: center;
  font-size: 1em;
  float: left;
}
.modal-buy-button{
  float: left;
  padding: 11px 10px;
  margin-left: 40px;
  background-color: #00A859;
  opacity: 70%;
  color: white;
  font-weight: bolder;
  border: none;
}
.modal-product-description{
  width: 100%;
  margin-top: 20px;
}
.modal-product-description > span{
  display: block;
  font-weight: normal;
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  border-top: 1px dotted #ddd;
}
.modal-product-description >span a:hover{
  color: red;
}
.modal-slideshow-container img{
    width: 100%;
}
/* checkout-page */
.page-checkout-title-inner-item {
    clear: both;
    padding-top: 20px;
    min-height: 60px;
    text-align: center;
    font-size: 1.6em;
}
/*-----css checkout-page-title --------- */
a.nomal{
    text-decoration: none;
    color: black;
}
a.current, a.no-click{
    text-decoration: none;
    color: gray;
}
a.current:hover{
color: black;
}
.message-center>a{
    text-decoration: none;
    color: black;
}

.message-center>a:hover{
    color: crimson;
}
.line-hr{
    padding-bottom: 15px;
    border-top: solid grey;
}
.checkout-container{
    width: 100%;
    padding-top: 30px;
    padding-left: 1%;
    clear: both;
}
.checkout-billing-fields{
    width: 59%;
    padding-right: 1%;
    float: left;
}
.message-center>a{
    text-decoration: none;
}

.first-name-field,
.different-first-name-field{
    width: 50%;
    padding-right: 2%;
    float: left;
}
.last-name-field,
.different-last-name-field{
    width: 50%;
    padding-left: 2%;
    float: right;
}
.checkout-sidebar{
    width: 41%;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}
.txt-input,
.select-country{
    max-width: 100%;
    width: 100%;
    height: 38px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    transition: color .3s, border .3s, background .3s, opacity .3s;
}

.fields-wrapper,
.payment-box2{
    display: none;
}

.note-field>textarea{
    max-width: 100%;
    width: 100%;
    height: 120px;
}
div{
    line-height: 2;
}
.checkout-border{
    border: solid 2px red;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}
table{
    width: 100%;
}
.product-name{
    text-align: left;
}
.product-total{
    text-align: right;
}
.tr-title{
    border-bottom: solid 2px grey;
}

table,.tr-title>th {
    border-bottom: 2px solid grey;
    border-collapse: collapse;
  }

  td{
    border-bottom: 1px solid grey;
    border-collapse: collapse;
  }
  a.dieukhoan{
    text-decoration: none;
    color: black;
}
a.dieukhoan:hover{
color: crimson;
}

.conditions-checkbox-text{
    padding-bottom: 6px;
}
.btn-order{
    padding-bottom: 15px;
}
.btn-order>button{
    width: 122px;
    height: 38px;
    background-color: #00a859;
    color: #ffffff;
    border: none;
}
.btn-order :hover{
    background-color: #006600;
}

.payment-box>p{
    font-size: .9em;
}
.conditions-checkbox-text,
.checkout-bacs-payment>label{
    font-weight: bold;
    font-size: .9em;
    color: #222;
}

td.product-total-td,
.checkout-sidebar-tr>td,
.checkout-sidebar-tr>td,
.lable-title{
    font-weight: bold;
    font-size: .9em;
    color: #222;
}

td.product-name{
    font-size: .9em;
    color: #666;
}
